In [0]:
from pyspark.sql import SparkSession 

spark = SparkSession \
    .builder \
    .appName("RFM Customer Segmentation with PySpark") \
    .getOrCreate()

In [0]:
df_raw = spark.read.format('delta').\
    options(header = 'true', inferschema = 'true').\
    load("/user/hive/warehouse/online_retail2", header = True)

In [0]:
df_raw.show(5)
df_raw.printSchema()

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|1.12.2010 08:26|     2,55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|1.12.2010 08:26|     2,75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 5 rows

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: long (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- CustomerID: long (nullable = true)
 |-- Country: string (nullable = true)

In [0]:
from pyspark.sql.functions import count

def my_count(df_in):
    df_in.agg(*[count(c).alias(c) for c in df_in.columns]).show()

my_count(df_raw)

+---------+---------+-----------+--------+-----------+---------+----------+-------+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+-----------+--------+-----------+---------+----------+-------+
|   541909|   541909|     541909|  541909|     541909|   541909|    541909| 541909|
+---------+---------+-----------+--------+-----------+---------+----------+-------+

In [0]:
df = df_raw.dropna(how = "any")
my_count(df)

+---------+---------+-----------+--------+-----------+---------+----------+-------+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+-----------+--------+-----------+---------+----------+-------+
|   541909|   541909|     541909|  541909|     541909|   541909|    541909| 541909|
+---------+---------+-----------+--------+-----------+---------+----------+-------+

In [0]:
from pyspark.sql.functions import to_utc_timestamp, unix_timestamp, lit, datediff, col, to_timestamp

df = df.withColumn('NewInvoiceDate', to_timestamp("InvoiceDate","d.M.yyyy HH:mm"))

df.show(5)

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-------------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|     NewInvoiceDate|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-------------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|1.12.2010 08:26|     2,55|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|    71053| WHITE METAL LANTERN|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|   84406B|CREAM CUPID HEART...|       8|1.12.2010 08:26|     2,75|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|   84029G|KNITTED UNION FLA...|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|2010-12-01 08:26:00|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-------------------+
only showing top 5 rows

Out[6]: '\n\nfrom pyspark.sql.functions import *\ntimeFmt = "MM/dd/yy HH:mm"\ndf = df.withColumn("NewInvoiceData2",  from_unixtime(unix_timestamp(to_timestamp("InvoiceDate","d.M.yyyy HH:mm").cast("timestamp"),timeFmt),timeFmt))\ndf.show()\n\n'

In [0]:
from pyspark.sql.functions import round

from pyspark.sql import functions as F

df = df.withColumn("UnitPrice", F.regexp_replace("UnitPrice", ",", ".").cast("double"))

df = df.withColumn('TotalPrice', round(df.Quantity * df.UnitPrice, 2) )

df.show()

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-------------------+----------+--------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|     NewInvoiceDate|TotalPrice|Duration|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-------------------+----------+--------+
|   536365|   85123A|WHITE HANGING HEA...|       6|1.12.2010 08:26|     2.55|     17850|United Kingdom|2010-12-01 08:26:00|      15.3|     373|
|   536365|    71053| WHITE METAL LANTERN|       6|1.12.2010 08:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|     20.34|     373|
|   536365|   84406B|CREAM CUPID HEART...|       8|1.12.2010 08:26|     2.75|     17850|United Kingdom|2010-12-01 08:26:00|      22.0|     373|
|   536365|   84029G|KNITTED UNION FLA...|       6|1.12.2010 08:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|     20.34|     373|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|1.12.2010 08:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|     20.34|     373|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|1.12.2010 08:26|     7.65|     17850|United Kingdom|2010-12-01 08:26:00|      15.3|     373|
|   536365|    21730|GLASS STAR FROSTE...|       6|1.12.2010 08:26|     4.25|     17850|United Kingdom|2010-12-01 08:26:00|      25.5|     373|
|   536366|    22633|HAND WARMER UNION...|       6|1.12.2010 08:28|     1.85|     17850|United Kingdom|2010-12-01 08:28:00|      11.1|     373|
|   536366|    22632|HAND WARMER RED P...|       6|1.12.2010 08:28|     1.85|     17850|United Kingdom|2010-12-01 08:28:00|      11.1|     373|
|   536367|    84879|ASSORTED COLOUR B...|      32|1.12.2010 08:34|     1.69|     13047|United Kingdom|2010-12-01 08:34:00|     54.08|     373|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|1.12.2010 08:34|      2.1|     13047|United Kingdom|2010-12-01 08:34:00|      12.6|     373|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|1.12.2010 08:34|      2.1|     13047|United Kingdom|2010-12-01 08:34:00|      12.6|     373|
|   536367|    22749|FELTCRAFT PRINCES...|       8|1.12.2010 08:34|     3.75|     13047|United Kingdom|2010-12-01 08:34:00|      30.0|     373|
|   536367|    22310|IVORY KNITTED MUG...|       6|1.12.2010 08:34|     1.65|     13047|United Kingdom|2010-12-01 08:34:00|       9.9|     373|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|1.12.2010 08:34|     4.25|     13047|United Kingdom|2010-12-01 08:34:00|      25.5|     373|
|   536367|    22623|BOX OF VINTAGE JI...|       3|1.12.2010 08:34|     4.95|     13047|United Kingdom|2010-12-01 08:34:00|     14.85|     373|
|   536367|    22622|BOX OF VINTAGE AL...|       2|1.12.2010 08:34|     9.95|     13047|United Kingdom|2010-12-01 08:34:00|      19.9|     373|
|   536367|    21754|HOME BUILDING BLO...|       3|1.12.2010 08:34|     5.95|     13047|United Kingdom|2010-12-01 08:34:00|     17.85|     373|
|   536367|    21755|LOVE BUILDING BLO...|       3|1.12.2010 08:34|     5.95|     13047|United Kingdom|2010-12-01 08:34:00|     17.85|     373|
|   536367|    21777|RECIPE BOX WITH M...|       4|1.12.2010 08:34|     7.95|     13047|United Kingdom|2010-12-01 08:34:00|      31.8|     373|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-------------------+----------+--------+
only showing top 20 rows

In [0]:
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")

from pyspark.sql.functions import mean, min, max, sum, datediff, to_date

date_max = df.select(max('NewInvoiceDate')).toPandas()

current = to_utc_timestamp(unix_timestamp(lit(str(date_max.iloc[0][0])), 'yy-MM-dd HH:mm').cast('timestamp'), 'UTC')

df = df.withColumn('Duration', datediff(lit(current), 'NewInvoiceDate'))

#Recency, Frequency, Monetary

recency = df.groupBy('CustomerID').agg(min('Duration').alias('Recency'))

frequency = df.groupBy('CustomerID', 'InvoiceNo').count()\
    .groupBy('CustomerID')\
    .agg(count('*').alias("Frequency"))

monetary = df.groupBy('CustomerID').agg(round(sum('TotalPrice'), 2).alias('Monetary'))

rfm = recency.join(frequency, 'CustomerID', how = 'inner')\
    .join(monetary, 'CustomerID', how = 'inner')

rfm.show(100)
df.show()

+----------+-------+---------+--------+
|CustomerID|Recency|Frequency|Monetary|
+----------+-------+---------+--------+
|     15194|      3|       22| 7521.17|
|     17703|     35|        3|  798.74|
|     13452|    259|        2|   590.0|
|     13098|      1|       41|28658.88|
|     17048|    115|        6|  864.32|
|     13638|     15|        1|  122.64|
|     15322|     64|        2|  602.97|
|     13723|    217|        1|  199.85|
|     16597|      4|        1|   90.04|
|     15237|      1|        4| 1412.32|
|     13248|    124|        2|  465.68|
|     16742|     46|        2|     0.0|
|     14719|      1|        6| 1592.18|
|     17043|     32|        4| 1735.18|
|     14117|    143|        1|    90.0|
|     15057|    275|        2|  1489.5|
|     17979|     35|        5|  737.81|
|     13460|     29|        2|  183.44|
|     13518|     85|        1|  659.44|
|     15432|     23|        1|  171.19|
|     18196|     95|        2|  689.13|
|     15437|    262|        1|  200.16|
|     18147|     45|        2|  179.34|
|     17499|    289|        1|  622.88|
|     15663|    106|        1|  138.14|
|     13658|      9|        7| 2421.47|
|     12936|     17|        5|  1012.9|
|     14029|     63|        2|  467.66|
|     15221|    366|        2|   114.1|
|     17370|     72|        4|  446.18|
|     12967|      3|        4| 1194.75|
|     13240|     96|        4|  663.65|
|     15758|     24|        1|  205.25|
|     14805|     15|        4|  554.65|
|     16781|    365|        2|  294.65|
|     17595|     12|        2|  388.79|
|     16441|     67|        2|   381.2|
|     13299|    268|        1|   142.5|
|     14259|    141|        1|   120.0|
|     15921|    172|        1|  336.03|
|     18117|     25|        1|  320.72|
|     14543|      3|       21| 2916.17|
|     17757|      1|       31| 5585.49|
|     14178|      8|        7| 1620.93|
|     14562|      3|       22| 4709.22|
|     14215|     11|        7| 1777.92|
|     15197|      8|        5|  656.44|
|     13509|      8|        7|  979.72|
|     15133|    127|        3|  982.42|
|     14067|     63|        2|   374.7|
|     17061|     73|       12| 5116.13|
|     17135|     16|        7| 1139.73|
|     17647|     65|        1|  133.06|
|     15894|    253|        2|  263.55|
|     14064|     29|        7| 1188.32|
|     13659|    197|        3| 1550.85|
|     16499|    360|        5|   319.1|
|     13068|     10|        2|   344.0|
|     14242|    234|        2|  280.55|
|     17111|     47|        1|  248.61|
|     17201|     53|        1|  342.63|
|     15689|    119|        2|   254.1|
|     13832|     17|        2|   40.95|
|     16145|      8|       18| 3741.98|
|     14779|    280|        3|  386.15|
|     13527|     33|        8| 2263.76|
|     13035|     57|        3|  886.63|
|     17205|     53|        1|  384.08|
|     17454|    192|        4|  517.53|
|     14329|      8|       14| 4928.74|
|     14267|    150|        7| 1279.09|
|     12422|     95|        3|  803.56|
|     15569|    103|        5| 1375.71|
|     14626|      8|        7| 2757.07|
|     12402|    323|        1|   225.6|
|     12472|     30|       13| 6229.48|
|     13764|     70|        3| 1521.76|
|     15198|     92|        2|  193.64|
|     15709|    283|        1|  133.25|
|     16754|    372|        1|  2002.4|
|     14496|    311|        2|  538.81|
|     17334|    301|        3|   306.6|
|     14639|     52|        8| 2952.34|
|     13656|    164|        2|  379.65|
|     13447|     23|        4| 1104.23|
|     15312|     75|        5|   921.1|
|     16007|     47|        4| 1701.94|
|     15374|    128|        1|   168.0|
|     18233|    325|        1|   440.0|
|     14352|    157|        4| 1078.96|
|     15799|     75|        3|  884.14|
|     14438|    306|        1|   131.9|
|     15274|      4|        2|  716.57|
|     15992|      3|        1|   41.99|
|     17022|     31|        1|    71.0|
|     12873|    282|        1|   374.0|
|     16828|     93|        2|   128.5|
|     15652|     91|        1|  337.74|
|     12390|     79|        1|  549.84|
|     16276|    176|        1|   810.6|
+----------+-------+---------+--------+
only showing top 100 rows

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-------------------+----------+--------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|     NewInvoiceDate|TotalPrice|Duration|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-------------------+----------+--------+
|   536365|   85123A|WHITE HANGING HEA...|       6|1.12.2010 08:26|     2.55|     17850|United Kingdom|2010-12-01 08:26:00|      15.3|     373|
|   536365|    71053| WHITE METAL LANTERN|       6|1.12.2010 08:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|     20.34|     373|
|   536365|   84406B|CREAM CUPID HEART...|       8|1.12.2010 08:26|     2.75|     17850|United Kingdom|2010-12-01 08:26:00|      22.0|     373|
|   536365|   84029G|KNITTED UNION FLA...|       6|1.12.2010 08:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|     20.34|     373|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|1.12.2010 08:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|     20.34|     373|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|1.12.2010 08:26|     7.65|     17850|United Kingdom|2010-12-01 08:26:00|      15.3|     373|
|   536365|    21730|GLASS STAR FROSTE...|       6|1.12.2010 08:26|     4.25|     17850|United Kingdom|2010-12-01 08:26:00|      25.5|     373|
|   536366|    22633|HAND WARMER UNION...|       6|1.12.2010 08:28|     1.85|     17850|United Kingdom|2010-12-01 08:28:00|      11.1|     373|
|   536366|    22632|HAND WARMER RED P...|       6|1.12.2010 08:28|     1.85|     17850|United Kingdom|2010-12-01 08:28:00|      11.1|     373|
|   536367|    84879|ASSORTED COLOUR B...|      32|1.12.2010 08:34|     1.69|     13047|United Kingdom|2010-12-01 08:34:00|     54.08|     373|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|1.12.2010 08:34|      2.1|     13047|United Kingdom|2010-12-01 08:34:00|      12.6|     373|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|1.12.2010 08:34|      2.1|     13047|United Kingdom|2010-12-01 08:34:00|      12.6|     373|
|   536367|    22749|FELTCRAFT PRINCES...|       8|1.12.2010 08:34|     3.75|     13047|United Kingdom|2010-12-01 08:34:00|      30.0|     373|
|   536367|    22310|IVORY KNITTED MUG...|       6|1.12.2010 08:34|     1.65|     13047|United Kingdom|2010-12-01 08:34:00|       9.9|     373|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|1.12.2010 08:34|     4.25|     13047|United Kingdom|2010-12-01 08:34:00|      25.5|     373|
|   536367|    22623|BOX OF VINTAGE JI...|       3|1.12.2010 08:34|     4.95|     13047|United Kingdom|2010-12-01 08:34:00|     14.85|     373|
|   536367|    22622|BOX OF VINTAGE AL...|       2|1.12.2010 08:34|     9.95|     13047|United Kingdom|2010-12-01 08:34:00|      19.9|     373|
|   536367|    21754|HOME BUILDING BLO...|       3|1.12.2010 08:34|     5.95|     13047|United Kingdom|2010-12-01 08:34:00|     17.85|     373|
|   536367|    21755|LOVE BUILDING BLO...|       3|1.12.2010 08:34|     5.95|     13047|United Kingdom|2010-12-01 08:34:00|     17.85|     373|
|   536367|    21777|RECIPE BOX WITH M...|       4|1.12.2010 08:34|     7.95|     13047|United Kingdom|2010-12-01 08:34:00|      31.8|     373|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+-------------------+----------+--------+
only showing top 20 rows

In [0]:
import numpy as np
import pandas as pd

def describe_pd(df_input, columns, deciles = False):
    if deciles:
        percentiles = [25, 50, 75]

    pcs = np.transpose([np.percentile(df_input.select(x).collect(),percentiles) for x in columns])
    pcs = pd.DataFrame(pcs, columns = columns)
    pcs['summary'] = [str(p) + "%" for p in percentiles]
    mydescribe = df_input.describe().toPandas()
    new_df = pd.concat([mydescribe, pcs], ignore_index = True)
    new_df = new_df.round(2)
    return new_df[['summary'] + columns]

In [0]:
cols = ['Recency', 'Frequency', 'Monetary']
describe_pd(rfm, cols, 1)

,summary,Recency,Frequency,Monetary
0,count,4373,4373,4373
1,mean,91.56025611708209,5.9227075234392865,2229.0756757374743
2,stddev,100.7701307562583,56.79881324857276,23356.82678007453
3,min,0,1,-4287.63
4,max,373,3710,1447682.12
5,25%,16.0,1.0,293.45
6,50%,50.0,3.0,648.41
7,75%,143.0,5.0,1612.13

In [0]:
def RScore(x):
    if x <= 16:
        return 1
    elif x<= 50:
        return 2
    elif x <= 143:
        return 3
    else:
        return 4

def FScore(x):
    if x <= 1:
        return 4
    elif x <= 3:
        return 3
    elif x <= 5:
        return 2
    else:
        return 1
    
def MScore(x):
    if x <= 293:
        return 4
    elif x <= 648:
        return 3
    elif x <= 1612:
        return 2
    else:
        return 1
    
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType, DoubleType

R_udf = udf(lambda x : RScore(x), StringType())
F_udf = udf(lambda x : FScore(x), StringType())
M_udf = udf(lambda x : MScore(x), StringType())

In [0]:
rfm_seg = rfm.withColumn("r_seg", R_udf("Recency"))
rfm_seg = rfm_seg.withColumn("f_seg", F_udf("Frequency"))
rfm_seg = rfm_seg.withColumn("m_seg", M_udf("Monetary"))
rfm_seg = rfm_seg.withColumn("RFMScore", F.concat(F.col('r_seg'), F.col('f_seg'), F.col('m_seg')))

rfm_seg.sort(F.col('RFMScore')).show(20)

+----------+-------+---------+----------+-----+-----+-----+--------+
|CustomerID|Recency|Frequency|  Monetary|r_seg|f_seg|m_seg|RFMScore|
+----------+-------+---------+----------+-----+-----+-----+--------+
|         0|      0|     3710|1447682.12|    1|    1|    1|     111|
|     13004|     11|       22|   5613.43|    1|    1|    1|     111|
|     17602|      2|        8|   5050.77|    1|    1|    1|     111|
|     13098|      1|       41|  28658.88|    1|    1|    1|     111|
|     13924|      1|       11|   1682.08|    1|    1|    1|     111|
|     13658|      9|        7|   2421.47|    1|    1|    1|     111|
|     15061|      3|       55|  54228.74|    1|    1|    1|     111|
|     15838|     11|       21|  33350.76|    1|    1|    1|     111|
|     15194|      3|       22|   7521.17|    1|    1|    1|     111|
|     14415|      1|       18|   5811.56|    1|    1|    1|     111|
|     13798|      1|       63|  36351.42|    1|    1|    1|     111|
|     15993|      8|       10|   2756.82|    1|    1|    1|     111|
|     14178|      8|        7|   1620.93|    1|    1|    1|     111|
|     17949|      1|       52|  52750.84|    1|    1|    1|     111|
|     14329|      8|       14|   4928.74|    1|    1|    1|     111|
|     14825|      3|       12|   2226.91|    1|    1|    1|     111|
|     14215|     11|        7|   1777.92|    1|    1|    1|     111|
|     12683|      4|       20|   8221.09|    1|    1|    1|     111|
|     14543|      3|       21|   2916.17|    1|    1|    1|     111|
|     13230|      4|       15|   2763.41|    1|    1|    1|     111|
+----------+-------+---------+----------+-----+-----+-----+--------+
only showing top 20 rows

In [0]:
rfm_seg.groupBy('RFMScore').agg({'Recency': 'mean', 'Frequency' : 'mean', 'Monetary' : 'mean'}).sort(F.col('RFMScore')).show(5)

+--------+-----------------+------------------+------------------+
|RFMScore|     avg(Recency)|     avg(Monetary)|    avg(Frequency)|
+--------+-----------------+------------------+------------------+
|     111|6.022680412371134|11795.596288659783|26.492783505154637|
|     112|7.237113402061856|1223.3604123711343| 7.752577319587629|
|     113|              8.0|505.97749999999996|               7.5|
|     114|             11.0|            191.17|               8.0|
|     121|6.472727272727273|2569.0619999999994| 4.636363636363637|
+--------+-----------------+------------------+------------------+
only showing top 5 rows

In [0]:
#Detailed summary

grp = 'RFMScore'
num_cols = ['Recency', 'Frequency', 'Monetary']
df_myinput = rfm_seg

quantile_grouped = quantile_agg(df_myinput, grp, num_cols)
quantile_grouped.toPandas().to_csv(output_dir + 'quantile_grouped.csv')

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-1781779312752536>:5
      3 grp = 'RFMScore'
      4 num_cols = ['Recency', 'Frequency', 'Monetary']
----> 5 rfm_seg.toPandas().to_csv(output_dir + 'quantile_grouped.csv')

NameError: name 'output_dir' is not defined